<!DOCTYPE html>
<html>
  <head>
    <title>ZodiacSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All Zodiacs', zodiacs_path %>
      <%= link_to 'New Zodiac', new_zodiac_path %>
    </nav>
    <%= yield %>
  </body>
</html>
