<!DOCTYPE html>
<html>
  <head>
    <title>MovieWolrd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'Home', root_path, :class => 'tag'%>
    <%= link_to 'Movies', movies_path, :class => 'tag'%>
    <%= link_to 'New Movie', new_movie_path, :class => 'tag' %>
  </nav>
    <%= yield %>
  </body>
</html>
