<div >
  <h2></h2>
</div>
<img src=<%=@image1%> alt="">
<img src=<%=@image2%> alt="">
<img src=<%=@image3%> alt="">
<img src=<%=@image4%>alt="">
<img src=<%=@image5%> alt="">
<img src=<%=@image6%> alt="">
<img src=<%=@image7%> alt="">
<img src=<%=@image8%> alt="">
<img src=<%=@image9%> alt="">
<img src=<%=@image10%> alt="">
