<h1><%= @author.name %></h1>
<%= image_tag @author.image, :class => 'feature' %>
<ul>
    <li>Name: <%= @author.name %></li>
    <li>Nationality: <%= @author.nationality %></li>
    <li>Date of birth: <%= @author.dob %></li>
    <li>Image: <%= @author.image %></li>
</ul>

<div class="controls">
    <%= link_to 'Edit author', edit_author_path(@author)%>
    <%= link_to 'Delete author', @author, :method => 'delete', :data => {:confirm => 'Are you sure?' } %>
</div>